:root {
	--bg-color: #FAF9F6; /* Light background color */
	--bg-white-color: #F8F8FF; /* White background color */
	--header-color: #e0e0e0; /* Light gray header */
	--itemBg-color: #FAF9F6; /* White background for items */
	--itemBg-white-color: #f0f0f0; /* Slightly grayish white for items */
	--reg-color: #007bff; /* Primary blue color */
	--text-color: #333333; /* Dark text color for contrast */
	--fog-color: #00bcd4; /* Teal color for fog */
	--back-color: #ffffff; /* White background for back elements */
}

body,
html {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    padding: 0;
    color: var(--text-color);
    font-style: normal;
}


* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
textarea:focus,
input:focus,
select:focus,
button:focus {
	outline: none;
}
button {
	border: none;
	background: none;
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0;
}
li,
ol,
ul,
a {
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0;
	color: var(--text-color);
}
p {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background-color: #888888; /* Gray scrollbar */
	border-radius: 8px;
}
.container {
	margin: 0 auto;
	max-width: 1250px;
	padding: 0 15px;
}
/* Login */
.login {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	gap: 20%;
}
.login h1 {
	font-size: 35px;
}
.loginBtn {
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: var(--bg-color);
	background-color: var(--reg-color);
}
/* Login */
/* Loading */
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 60px;
}


/* home */
.home {
	height: 100vh;
	padding-top: 70px;
}
.homeCreateDiv {
	display: flex;
	justify-content: center;
	background-color: var(--itemBg-color);
	padding: 20px 0;
}
.homeCreateBtn {
	margin-top: 10px;
	color: var(--text-color);
	padding: 40px 35px;
	background-color: #dbdbdb;
	font-size: 90px;
	color: var(--reg-color);
	border-radius: 8px;
	width: 140px;
}
.homeItems {
	width: 100%;
	padding: 20px;
	align-items: center;
}
.homeItems p {
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}
.homeItemContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.create-icon {
	color: #007bff; /* Change this to any shade of blue you prefer */
	font-size: 1.6em; /* Adjust size as needed */
	font-weight: bold; /* Optional: Make it bold */
	vertical-align: -6px; /* Align the + sign with the text */
	line-height: 1; /* Ensure proper vertical alignment */
  }
  


/* Docs */
.Docs {
	min-height: 80vh;
}

/* add docs */
.ql-editor {
	width: 8.5in;
	min-height: 11in;
	padding: 6px;
	margin: 18px;
	background-color: var(--itemBg-color);
	color: var(--text-color);
}

.ql-container.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
}

.ql-toolbar.ql-snow {
	display: flex;
	justify-content: center;
	position: sticky;
	border: none;
	border-bottom: 2px solid var(--bg-color);
	z-index: 1;
	top: 0;
	background-color: var(--itemBg-color);
	color: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats button svg path {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats button.ql-active svg path {
	stroke: var(--reg-color);
}
.ql-toolbar.ql-snow .ql-formats button.ql-active svg line {
	stroke: var(--reg-color);
}
.ql-toolbar.ql-snow .ql-formats button.ql-active svg rect {
	stroke: var(--reg-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-italic svg line {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-picker-label svg polygon {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-picker-label::before {
	color: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-color.ql-picker.ql-color-picker .ql-picker-label svg polyline {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-color.ql-picker.ql-color-picker .ql-picker-label svg line {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-background.ql-picker.ql-color-picker .ql-picker-label svg polyline {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-background.ql-picker.ql-color-picker .ql-picker-label svg line {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-align.ql-picker.ql-icon-picker .ql-picker-label svg polyline {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-image svg rect {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-image svg path {
	stroke: var(--text-color);
}
.ql-toolbar.ql-snow .ql-formats .ql-image {
	color: var(--text-color);
}
.ql-editor .ql-align-center {
	text-align: center;
}
.ql-editor .ql-align-right {
	text-align: right;
}
.ql-editor .ql-align-left {
	text-align: left;
}
.ql-editor .ql-font {
	font-family: var(--text-color);
}
.ql-editor .ql-color {
	color: var(--text-color);
}
.ql-editor .ql-background {
	background-color: var(--itemBg-color);
}
.ql-editor .ql-font {
	font-family: var(--text-color);
}
.ql-editor .ql-size {
	font-size: var(--text-color);
}
.ql-editor .ql-direction {
	direction: var(--text-color);
}
.ql-editor .ql-indent {
	text-indent: var(--text-color);
}
.ql-editor .ql-line-height {
	line-height: var(--text-color);
}
.ql-editor .ql-script {
	font-size: var(--text-color);
}
.ql-editor .ql-underline {
	text-decoration: underline;
}
.ql-editor .ql-strike {
	text-decoration: line-through;
}
.ql-editor .ql-code {
	background-color: var(--itemBg-color);
	color: var(--text-color);
}
.ql-editor .ql-code-block {
	background-color: var(--itemBg-color);
	color: var(--text-color);
}
.ql-editor .ql-blockquote {
	border-left: 5px solid var(--reg-color);
}
.ql-editor blockquote {
	font-style: italic;
	color: var(--text-color);
}

/*ErrorPage  */
.ErrorPage {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.ErrorPage h1 {
	font-size: 40px;
}
.ErrorPage button {
	font-size: 20px;
	padding: 12px 20px;
	border-radius: 12px;
	background-color: #007bff;
	color: #ffffff;
	transition: background-color 0.3s ease;
}

.ErrorPage button:hover {
	background-color: #0451a3; /* Darker shade of blue on hover */
	cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}




/*ErrorPage  */


/* ViewDocs */

/* ViewDocs */
/*  */

