.docsItem {
	max-width: 350px;
	border-radius: 8px;
	background-color: #e0e0e0;
	padding: 10px 20px;
	color: #333333;
	font-size: 15px;
	min-width: 280px;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	transition: background-color 0.3s ease;
}

.docsItem:hover {
	background-color: #ececec;
}

.docsItemBtn {
	color: #007bff;
	transform: rotate(90deg);
	font-size: 18px;
	z-index: 3;
	font-weight: 800;
	cursor: pointer;
	transition: color 0.3s ease;
	position: absolute; /* or relative, depending on the context */
	right: 0; /* aligns the element to the right edge of its containing element */
	margin-right: 20px;
}

.docsItemBtn:hover {
	color: #0056b3;
}

.docsItem p {
	padding: 0 10px;
	cursor: pointer;
	text-align: left;
}

.openModalCon {
	width: 130px;
	position: absolute;
	top: 32px;
	right: -95px;
	background-color: #ffffff;
	z-index: 4;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opemModalBtn {
	color: #333333;
	font-size: 14px;
	transition: all 0.3s;
	padding: 8px 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-align: center;
}

.opemModalBtn:hover {
	background-color: #f1f1f1;
	border-radius: 8px;
	color: #007bff;
}

.opemModalBtn:last-child {
	margin-bottom: 0;
}





