.docsItem {
    max-width: 220px; /* Reduced width */
    min-width: 210px; /* Reduced width */
    height: 290px; /* Reduced height */
    border-radius: 10px; /* Slightly smaller border radius */
    background-color: #cccccc;
    padding: 16px; /* Reduced padding */
    color: #333333;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.452);
    font-size: 13px; /* Smaller font size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden; /* Ensure no scrollbar appears */
    font-family: 'Encode Sans', sans-serif; /* Add font family */
}

.docsItem:hover {
    background-color: #838383;
}

.docsTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    word-wrap: break-word; /* Allows long words to break onto a new line */
    overflow-wrap: break-word; /* Ensures long words break on any browser */
    word-break: break-all; /* Breaks long words or URLs */
}

.docsItemContent {
    background-color: #ffffff;
    border-radius: 8px;
    width: 195px;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 265px; /* Height should work with !important */
    flex-shrink: 0; /* Prevent the flex item from shrinking */
}


.visibility {
    position: absolute;
    margin-top: 117px;
    right: 50%;
}

.docsItemBtn {
    color: #007bff;
    transform: rotate(90deg);
    font-size: 20px;
    z-index: 3;
    font-weight: 800;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    bottom: 75px; /* Move button to the bottom of the card */
    left: 60%;
    transform: translateX(-50%) rotate(90deg); /* Center button horizontally */
    font-family: 'Encode Sans', sans-serif; /* Add font family */
}

.docsItemBtn:hover {
    color: #0056b3;
}

.openModalCon {
    width: 130px;
    position: absolute;
    top: 20px; /* Adjust to ensure modal is not hidden by the button */
    right: 44px;
    background-color: #ffffff;
    z-index: 4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.301);
}

.opemModalBtn {
    color: #333333;
    font-size: 14px;
    transition: all 0.3s;
    padding: 8px 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.opemModalBtn:hover {
    background-color: #f1f1f1;
    border-radius: 8px;
    color: #007bff;
}

.opemModalBtn:last-child {
    margin-bottom: 0;
}
