.headerCreate {
	background-color: #292929;
	color: white;
	padding: 2rem;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #727272;
	margin-top: -38px;
  }
  
  .container {
	max-width: 940px !important; 
	margin: 0 auto;
  }
  
  .header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .title-container {
	position: relative;
	z-index: 10;
  }
  
  .main-title {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	color: #F8F8FF;
	margin-bottom: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sub-title {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #F8F8FF;
    font-family: 'Encode Sans', sans-serif; /* Add font family */
  }
  
  .title-underline {
	height: 4px;
	width: 100%;
	background-color: #d1d5db;
	border-radius: 9999px;
	margin-top: 0.5rem;
  }
  
  .add-button {
	background-color: #F8F8FF;
	color: #292929;
	border: none;
	border-radius: 12px;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 10;
	cursor: pointer;
	font-family: 'Encode Sans', sans-serif; /* Add font family */
}

.add-button:hover {
	background-color: #007bff;
	color: #F8F8FF;
}

  .plus-icon {
	margin-top: 2px;
	width: 1.5rem;
	height: 1.5rem;
	transition: transform 0.3s ease;
  }

  .add-button:hover .plus-icon {
	transform: rotate(90deg);
  }

  .button-text {
	margin-left: 0.5rem;
	font-size: 20px;
  }
  
  .recent-documents {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	color: #d1d5db;
  }
  
  .file-icon, .chevron-icon {
	width: 1.25rem;
	height: 1.25rem;
  }
  
  .recent-text {
	font-size: 0.875rem;
	margin: 0 1rem;
  }
  
  .gradient-overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 33.333%;
	height: 100%;
  }
  
  .bottom-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, transparent, #6b7280, transparent);
  }
  
  @media (max-width: 768px) {
	.header-content {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.add-button {
	  margin-top: 1rem;
	}
  }