:root {
	--bg-color: #FAF9F6; /* Light background color */
	--bg-white-color: #F8F8FF; /* White background color */
	--header-color: #e0e0e0; /* Light gray header */
	--itemBg-color: #FAF9F6; /* White background for items */
	--itemBg-white-color: #f0f0f0; /* Slightly grayish white for items */
	--reg-color: #007bff; /* Primary blue color */
	--text-color: #333333; /* Dark text color for contrast */
	--fog-color: #00bcd4; /* Teal color for fog */
	--back-color: #ffffff; /* White background for back elements */
}

body,
html {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    padding: 0;
    color: var(--text-color);
    font-style: normal;
}

* {
	box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
	outline: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

li,
ol,
ul,
a {
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0;
	color: var(--text-color);
}

p {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #888888; /* Gray scrollbar */
	border-radius: 8px;
}

.container {
	margin: 0 auto;
	max-width: 1250px;
	padding: 0 15px;
}

/* Login */
.login {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	gap: 20%;
}

.login h1 {
	font-size: 35px;
}

.loginBtn {
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: var(--bg-color);
	background-color: var(--reg-color);
}

/* Loading */
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 60px;
}

/* home */
.home {
	height: 100vh;
	padding-top: 70px;
}

.homeCreateDiv {
	display: flex;
	justify-content: center;
	background-color: var(--itemBg-color);
	padding: 20px 0;
}

.homeItems {
	width: 100%;
	padding: 20px;
	align-items: center;
}

.homeItems p {
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

.homeItemContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.create-icon {
	color: #007bff; 
	font-size: 1.6em; 
	font-weight: bold; 
	vertical-align: -6px; 
	line-height: 1; 
  }


/*ErrorPage  */
.ErrorPage {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.ErrorPage h1 {
	font-size: 40px;
}
.ErrorPage button {
	font-size: 20px;
	padding: 12px 20px;
	border-radius: 12px;
	background-color: #007bff;
	color: #ffffff;
	transition: background-color 0.3s ease;
}

.ErrorPage button:hover {
	background-color: #0451a3;
	cursor: pointer;
}